body,
html {
  height: 100%;
  margin: 0;

  display: grid;
  place-items: center;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  display: grid;
  grid-template: repeat(2, 100px) 500px repeat(2, 100px) / 250px 750px;

  /* Alternate named grid-areas solution
  
  grid-template-areas: "header header"
  "sidebar nav"
  "sidebar article"
  "sidebar article"
  "footer footer"; */

  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  
  grid-column: 1/-1;
  /* grid-area: header; */
}

.sidebar {
  background-color: #005b94;

  grid-column: 1;
  grid-row: 2/5;
  /* grid-area: sidebar; */
}

.nav {
  background-color: #642cde;

  /* grid-area: nav; */
}

.article {
  background-color: #7e1dc3;

  grid-row: span 2;
  /* grid-area: article; */
}

.footer {
  background-color: #393f4d;
  
  grid-column: 1/-1;
  /* grid-area: footer; */
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
